.modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px;
  background-color: #181d27;
  border-radius: 9px;
  padding: 20px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 239, 239, 0.1);
}

.container-geral {
  display: flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-title {
  display: flex;
  margin: 30px;
  align-items: center;
  flex-direction: column;
  color: #ced4da;
  padding: 15px;
  text-align: center;
}

.container-resume {
  display: flex;
  flex-direction: column;
  margin: 0 60px 5px;
  font-weight: bold;
  color: #ced4da;
  flex-wrap: nowrap;
  align-items: center;
  text-align: justify;
 
}

.date {
  padding-top: 10px;
}

.closeButton {
  margin: 9px 10px 25px;
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #0a0908;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
  background-color: #1abc9c;
  transition: background-color 0.3s ease;
  &:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: #bab1ba;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

.titleMovie {
  font-size: 60px;
  margin: 0 0 5px;
}

@media (max-width: 1440px) {
  .container-title {
    margin: 1px;
    padding: 5px;
  }
  .titleMovie {
    font-size: 50px;
  }
  .date {
    font-size: 20px;
  }
  .container-resume {
    padding: 0;
    margin: 0 120px 0;
    font-size: 20px;
    height: 250px;
    overflow-y: scroll;
  }
  .closeButton {
    padding: 5px 15px;
    font-size: 14px;
    margin: 4px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container-title {
    margin: 1px;
    padding: 5px;
  }
  .titleMovie {
    font-size: 40px;
  }
  .date {
    font-size: 16px;
  }
  .container-resume {
    font-size: 16px;
    margin: 0 72px 0;
  }

  .closeButton {
    padding: 5px 15px;
    font-size: 14px;
    margin: 4px;
  }
}

@media (max-width: 425px), (max-width: 430px) {
  .titleMovie {
    font-size: 29px;
  }
  .poster {
    width: 100%;
  }
  .container-resume {
    padding: 0;
    margin: 5px;
    font-size: 16px;
    height: 260px;
  }
  .date {
    font-size: 17px;
  }
}

@media (max-width: 375px) {
  .container-resume {
    padding: 0;
    margin: 5px;
    font-size: 13px;
  }
  .titleMovie {
    font-size: 16px;
  }
  .date {
    font-size: 14px;
  }
  .closeButton {
    padding: 5px 16px;
    font-size: 10px;
    margin: 4px;
  }
}

@media (max-width: 320px) {
  .titleMovie {
    font-size: 19px;
  }
  .container-resume {
    font-size: 10px;
    height: 140px;
  }

  .date {
    font-size: 14px;
  }
  .closeButton {
    padding: 5px 16px;
    font-size: 10px;
    margin: 4px;
  }
}
